.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.btn-link {
  color: #4ca5bf;
}

.round {
  border-radius: 50%;
}

.skill-pill {
  border-radius: .8em;
  display: inline-block;
  font-size: 75%;
  line-height: 1;
  padding: 0.3em 0.7em 0.4em;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
  margin-bottom: 2px;
  background-color: #FFF;
  cursor: pointer;
  margin-right: 2px;
}

.skill-pill-gained.active {
  background: #337ab7;
  color: #FFF;

}

.skill-pill-previous.active {
  background: #5cb85c;
  color: #FFF;
}

.skill-pill-future.active {
  background: #777;
  color: #FFF;
}

.skill-pill-gained {
  border: 1px solid #4694ab;
  color: #4694ab;
}

.skill-pill-previous {
  border: 1px solid #5cb85c;
  color: #5cb85c;
}

.skill-pill-future {
  border: 1px solid #777;
  color: #777;
}

.skill-pill-related {
  color: #f0ad4e;
  border: 1px solid #f0ad4e;
}

.skill-pill-lg {
  border-radius: 12px;
}

.timeline-bg {
  background: -moz-linear-gradient(left, rgba(51, 122, 183, 0.1) 0%, rgba(51, 122, 183, 0.3) 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(51, 122, 183, 0.1)), color-stop(100%, rgba(51, 122, 183, 0.3)));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(left, rgba(51, 122, 183, 0.1) 0%, rgba(51, 122, 183, 0.3) 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(left, rgba(51, 122, 183, 0.1) 0%, rgba(51, 122, 183, 0.3) 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(left, rgba(51, 122, 183, 0.1) 0%, rgba(51, 122, 183, 0.3) 100%);
  /* IE10+ */

  background: linear-gradient(to right, rgba(51, 122, 183, 0.1) 0%, rgba(51, 122, 183, 0.3) 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a337ab7', endColorstr='#4d337ab7', GradientType=1);
  /* IE6-9 */
}

.timeline-bg hr {
  border-color: rgba(51, 122, 183, .5);
}

.timeline-bg.table-bordered > tbody > tr > td {
  border-color: rgba(51, 122, 183, .2);
}

.balloon {
  border-radius: 50%;
  background: #FF;
  border: 2px solid black;
  width: 25px;
  height: 25px;
  text-align: center;
  display: inline-block;
}

_div {
  border: 1px solid lightgrey;
}

.term-block {
  border-right: 1px solid #5BC0DE;
  min-height: 210px;
  /* background-color: rgba(91, 192, 222, 0.1); */
}

.term-block.term-zoom {
  width: 100%;
  position: absolute;
  z-index: 1;
}

.term-block-title {
  text-align: center;
  color: white;
  background-color: #5BC0DE;
}

.term-block-subtitle {
  text-align: center;
  color: #43585E;
  font-size: 10px;
  background-color: #e6e6e6;
  margin-top: 2px;
}

.term-block-subtitle-skill {
  text-align: center;
  color: #43585E;
  font-size: 10px;
  background-color: #e6e6e6;
  margin-top: 6px;
}

.term-block-skills {
  padding: 5px;
  height: 65px;
}

.term-block-courses {
  padding: 5px;
  height: 100px;
}


.term-block.done .term-block-title {
  background-color: #408aa0;

}

.term-block.active {
  //background-color: rgba(0, 0, 0, 0.2);
  border-right-width: 3px;
  border-color: #4ca5bf;
}

.term-block.active .term-block-title {
  background-color: #408aa0;
}

.term-block.first {
  border-left: 1px solid #5BC0DE;
}

.course-pill-sm {
  background-color: #43585E;
  color: white;
  width: 100%;
  height: 12px;
  display: block;
  margin-bottom: 4px;
}

.skill-pill-sm {
  border-radius: 50%;
  background-color: #4694AB;
  border: medium none;
  height: 12px;
  width: 12px;
  display: inline-block;
  margin-right: 4px;
}

.course-pill {
  background-color: #43585E;
  color: white;
  padding: 3px 7px;
  margin-bottom: 8px;
  display: inline-block;
  width: 100%;
  position: relative;
  font-size: 12px;

}

.course-pill-credits {
  margin-left: 7px;
  background-color: white;
  color: #43585E;
  display: inline-block;
  border-top: 1px solid #43585E;
  border-right: 1px solid #43585E;
  border-bottom: 1px solid #43585E;
  border-radius: 50%;
  padding-left: 5px;
  padding-right: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

.skill-p {
  background-color: #4694ab;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 4px;
  display: inline-block;
  position: relative;
  font-size: 12px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.term-slider {
  background-color: #ccc;
  border-bottom: 1px solid #b1b1b1;
}

.term-slider-knob {
  width: 12.5%;
  margin-left: 12.5%;
  height: 20px;
  background-color: blue;
  color: white;
}

.rangestepper .step {
  background-color: transparent;
  border-radius: 0;
  cursor: pointer;
  display: block;
  float: left;
  height: 14px;
  width: 12.5%;
}

.rangestepper .step .active {
  background-color: #5bc0de;
  border-radius: 0;
  cursor: pointer;
  display: block;
  height: 14px;
  vertical-align: top;
  width: 105px;
}

.tooltip-inner {
  background-color: #43585E;
  line-height: 14px;
  text-transform: capitalize;
}

.tooltip-arrow {
  border-top-color: #43585E;
  color: #43585E;
}
/*
.scroll-bg {
  background-color: #e6e6e6;
  height: 14px;
  margin-bottom: 3px;
  postion: relitive;
}
*/
.scroll-handle {
  height: 14px;
  float: left;
  width: 11.1%;
  margin-left: 22.2%;
  background-color: rgba(0, 0, 0, 0.17);
  text-align: center;
  line-height: 15px;
  background-color: #bebebe;
  color: #909090;
}

* { 
  outline: none;
}
.animate {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.term-block {
  cursor: pointer;
}
.term-block:hover {
  background: rgba(0,0,0,0.2);
}
.term-block.active  {
  cursor: default;
  border-width: 1px;
}
.term-block.active:hover, .term-block.first:hover, .term-block.done:hover {
  background: transparent;
}
.term-block:hover .term-block-title {
  background: #408aa0;
}
.skill-pill-sm:hover {
  background: #50B1CE;
}
.course-pill-sm:hover {
  background: #698A94;
}
.term-indicator { 
  border-right: 1px solid #5BC0DE;
  width: 11.11111%;
  padding-left: 11.11111%;
  position: absolute;
  top: 0; bottom: 0;
  background-color: rgba(0,0,0,0.25);
}
.progress-indicator { 
  border-right: 1px solid #5BC0DE;
  width: 11.1%;
  position: absolute;
  top: 0; bottom: 0;
  background-color: rgba(0,0,0,0.15);
}
.left-chart.col-md-9 {
  padding: 0;
}
.right-chart.col-md-3 .term-block {
  background-color: rgba(0,0,0,0.2);
}
.chart-img {
  min-width: 100%;
}
.program-title {
  font-size: 28px;
  font-weight: 100;
  text-align: center;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}
