/* ==== Google font ==== */
@import url('http://fonts.googleapis.com/css?family=Lato:400,300,700,900');

body {
    background-color: #0F2846;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #555;
    line-height: 1.6em;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #444;
}

h1 {
    font-size: 40px;
}

h3 {
    font-weight: 400;
}

h4 {
    font-weight: 400;
    font-size: 20px;
}

/*p {*/
    /*margin-bottom: 20px;*/
    /*font-size: 16px;*/
/*}*/


a {
    color: #d6ee18;
    word-wrap: break-word;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #0F2846;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}
.navbar-inverse .navbar-nav > li > a {
    color: #0F2846;
}

.alignleft {
    text-align: left;
}
.alignright {
    text-align: right;
}

.aligncenter {
    text-align: center;
}

.btn-theme  {
    color: #fff;
    background-color: #fd680e;
    border-color: #fd680e;
}
.btn-theme:hover  {
    color: #fff;
    background-color: #444;
    border-color: #444;
}
form.signup {
    margin-top: 30px;
}
form.signup button.btn {
    text-transform: uppercase;
    font-weight: 700;
}
form.signup input.form-control:focus {
    border-color: #fd680e;
}


/* Nav */

a.navbar-brand {
    color: #fff !important;
    font-weight: 900;
    text-transform: uppercase;
}
a.navbar-brand:hover {
    color: #ddd !important;
}

/* Header */

#header {
    background-color: #444;
    background: url(../images/main-bg.jpg) no-repeat center top;
    margin-top: 61px;
    padding-top: 150px;
    background-attachment: relative;
    background-position: center center;
    min-height: 900px;
    width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



#header h1 {
    margin-top: 60px;
    margin-bottom: 15px;
    color: #fff;
    font-size: 45px;
    font-weight: 900;
    letter-spacing: -1px;
}

h2.subtitle {
    color: #fff;
    font-size: 20px;
}

/* slide */
.carousel-indicators {
    position: absolute;
    bottom: -40px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -50%;
    text-align: center;
    list-style: none;
}
.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
}
.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #b7cb1b;
}

/* footer */
#footer {
    background: #fd680e;
    padding: 20px 0 5px;
}

p.copyright {
    color: #fff;
    text-align: center;
}

.container {
    width: 100%;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.navbar-inverse {
    background-color: #0F2846;
}

/*.program-details {*/
    /*background-color: #0F2846;*/
/*}*/

/*Rangeslider*/
.ngrs-range-slider {
    margin: 0px 0 0px;
    padding: 2px;
}


.program-form .form-group {
    width: 90% !important;
}

.program-form input {
    width: 100% !important;
}

/*Statistics*/
.visualizer .row {
    margin-bottom: 15px;
}

.visualizer h1 {
    color: #cccccc;
}

.statistics .badge {
    font-size: 18px;
}


/*General*/
.complete{
    background-color: rgb(51, 122, 183) !important;
}

.acquired{
    background-color: rgb(2, 129, 53) !important;
    border-color: rgb(2, 129, 53) !important;
}

.needed {
    background-color: #cccccc;
}

/*Animations*/
.slide{
    left:0;
}
.slide.ng-enter{
    transition:1s linear all;
    position:fixed;
    z-index:inherit;
    left:-100%;
    height:inherit;
    opacity: 0;
}
.slide.ng-leave{
    transition:1s linear all;
    position:fixed;
    z-index:9999;
    right:0;
    opacity: 1;
}
.slide.ng-leave-active{
    transition:1s linear all;
    position:fixed;
    right:-100%;
    left:100%;
    opacity: 0;
}
.slide.ng-enter-active{
    transition:1s linear all;
    left:0;
    position:relative;
    opacity: 1;
}


.program-details {
    margin-top: 86px;
}

.navbar {
    height: 61px;
    background-color: rgb(229, 229, 229);
}

.badge-blue {
    background-color: #0F2846 !important;
    margin: 1px;
}

.skill-column {
    border-radius: 9px;
    box-shadow: inset 0px 0px 2px #000000;
    background: #fff;
}

.skill-column .acquired{
    font-size: 16px;
}
