<form class="form-horizontal skill-search">
    <fieldset>

        <!-- Form Name -->
        <legend>Previous Skills</legend>
        <div class="row">
            <div class="col-md-12">
                <span class="badge badge-blue" ng-repeat="skill in previousSkills">{{skill}}</span>
            </div>
        </div>

        <!-- Text input-->
        <div class="row pad-top">
            <div class="col-md-12">
                <input class="form-control"
                       type="text"
                       ng-model="asyncDegreeSelected"
                       placeholder="Search for Skills by Name"
                       typeahead-on-select="addSkill($item); asyncDegreeSelected=''"
                       typeahead="Skill as Skill.name for Skill in TypeAhead.getSkills($viewValue)"
                       typeahead-loading="isLoading">
            </div>
        </div>

    </fieldset>
</form>
