<div ng-include="'views/partials/header.html'"></div>

<div id="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 program-form">
                <h1>Your Skill Encounter</h1>
                <h2 class="subtitle">Search for a Program to see how your journey plays out!</h2>
                <form class="form-inline signup" role="form">
                    <div class="form-group">
                        <input class="form-control"
                               type="text"
                               ng-model="Program.selectedProgram"
                               placeholder="Search for Degree Programs by Name"
                               typeahead-on-select="getDetails($item)"
                               typeahead="Program as Program.ProgramVersionName for Program in TypeAhead.getProgramVersion($viewValue)"
                               typeahead-loading="Program.isLoading"
                               typeahead-template-url="views/partials/degree-names.html">
                    </div>
                </form>
            </div>
            <div class="col-lg-4 col-lg-offset-2">
            </div>

        </div>
    </div>
</div>

<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <p class="copyright">Love from the Data + Product Team</p>
            </div>
        </div>
    </div>
</div>
