<div ng-include="'views/partials/header.html'"></div>

<div class="container program-details" ng-show="Program.isSet">

    <div class="row">
        <div class="col-md-2 skill-column">
            <skill-search max="Student.max" previous-skills="Student.previousSkills"></skill-search>

            <legend style="margin-top: 50px;">Related Skills</legend>

            <bubble-chart max="Student.max" skills="Skills"></bubble-chart>
        </div>
        <div class="col-md-10">

            <awards groups="Skills.all" max="Student.max"></awards>

            <div class="text-center visualizer">
                <div class="row">
                    <div class="col-md-12">
                        <div class="btn-group btn-group-lg" role="group" aria-label="Large button group">
                            <button type="button" class="btn btn-primary" ng-click="Student.max = 0">Start</button>
                            <button type="button" class="btn btn-default" style="width:1390px">
                                <div range-slider min="0" max="100" model-max="Student.max" pin-handle="min"></div>
                            </button>
                            <button type="button" ng-class="{'btn':true, 'btn-warning':true, 'acquired':Student.max == 100}"
                                    ng-click="Student.max = 100">Finish
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row statistics">
                    <div class="col-md-12">
                        <span class="badge complete">Percentage Completed: {{Student.max}}%</span>
                        <span class="badge acquired">Skills Acquired: {{Skills.getAcquired(Student.max).length}}</span>
                        <span class="badge">Skills Needed: {{Skills.getNeeded(Student.max).length}}</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <skill-chart max="Student.max" salary="Salary.all" skills="Skills"></skill-chart>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
